<div class="container">
  <h1>Reactive form</h1>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <select
        class="form-control"
        formControlName="type"
        (change)="onChangeType()"
      >
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
      </select>
      <hr />
      <app-sub-form-one
        *ngIf="selectedType === 1"
        [formArray]="subForms"
      ></app-sub-form-one>
      <app-sub-form-two
        *ngIf="selectedType === 2"
        [formArray]="subForms"
      ></app-sub-form-two>
    </div>
  </form>
</div>
